.cart {
    background-color: rgb(234, 243, 234);
    height: 2000px;
}

.list{
    border: 2px solid black;
    width: 300px;
    height: 300px;
    display: inline-block;
    margin: 80px;
    background-color: gray
}

.title{
    font-size: 13px;
    color: red;
    display: inline-block;
    width: 200px;
    margin: 10px 30px 20px 20px;


}

.post-id{
    border: 3px solid black;
    width: 30px;
    height: 30px;
    text-align: center;
    justify-content: flex-end;
    display: inline-block;
}

.list img {
    margin: 20px 100px 20px 70px;
}

